@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Barlow Semi Condensed, sans-serif;
    background: #ecf2f8;
    font-size: 13px;
    align-items: center;
}

.container{
    margin: 30px 118px;
}

.cards {
    border-radius: 7px;
    padding: 25px 35px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.div-daniel {
    background: #7541c8;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 300px;
    height: 300px;
}

.div-jon {
    background: #48556a;
    margin-left: 25px;
    height: 300px;
}

.div-jeane {
    background: #fff;
    height: 280px;
    margin-top: 25px;
}

.div-patrick {
    background: #19212e;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 280px;    
}

.div-kira {
    background: #fff;
    height: 603px;
    width: auto;
}

.title {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.div-jeane > .title, .div-kira > .title {
    color: rgb(48, 48, 48);
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

p {
    color: #cfcfcf;
}

.cabecalho > p {
    color: #fff;
    margin-left: 20px;
    font-weight: 500;
    
}

.cabecalho > p > span {
    color: #cfcfcf;
    font-size: 11px;
    font-weight: 500;
    padding-top: 10px;
}

.div-jeane > .cabecalho > p, .div-kira > .cabecalho > p {
    color: #000;
}

.div-jeane > p, .div-kira > p {
    color: rgb(85, 85, 85);
}

.div-jeane > .cabecalho > p > span, .div-kira > .cabecalho > p > span {
    color: #acacac;
}

img {
    border: 2px solid #fff;
    border-radius: 90px;
    height: 40px;
    width: 40px;
    margin-left: 15px;
}

@media screen and (max-width: 767px) {
    .container {
       align-items: center;
    }
    .div-daniel {
        margin-top: 40px;
    }
    .cards {
        margin-left: 30px;
        margin-right: 30px;
        height: auto;
    }
    .div-kira {        
    }
}